* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
  font-family: "Roboto", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.demo > div {
  margin-bottom: 1.25rem;
}

.webpush {
  display: table;
  position: relative;
  border: 1px solid #EEEEEE;
}

.pad {
  max-width: 27rem;
  background-color: #FAFAFA;
}

.mobile {
  max-width: 100%;
  background-color: #FAFAFA;
}

.wrapper {
  padding: 1rem 1.55rem 1rem 1rem;
}

.picbox {
  display: table-cell;
  vertical-align: middle;
}
.picbox img {
  max-width: 10.688rem;
}

.picbox-m {
  display: table-cell;
  vertical-align: middle;
}
.picbox-m img {
  max-width: 9rem;
}

.content {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
  max-width: 17.75rem;
  background-color: #FAFAFA;
  clear: both;
}

.content-m {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
}

.content-s {
  display: table-cell;
  vertical-align: middle;
}

.url {
  color: #939EA7;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}

.title {
  color: #272727;
  margin-bottom: 1rem;
}

.title-m {
  color: #48545D;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

.intro {
  color: #6B7780;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

.btnbox {
  position: relative;
  float: right;
}

.btn {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border: 1px solid #003A9F;
  color: #003A9F;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
  color: #D60C18;
  border: 1px solid #D60C18;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.close-btn svg {
  display: inherit;
  vertical-align: middle;
}

.close {
  fill: #272727;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}